
<nav class="navbar navbar-light navbar-toggleable-md fixed-top bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseNav" aria-       controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
    
    <a class="navbar-brand bg">McMakler</a>
    
    <div class="collapse navbar-collapse" id="collapseNav">
    
    <div class="navbar-nav mr-auto">
        <ul class="navbar-nav mt-10">
            <li><a href="#" class="nav-link active">Verkaufen</a></li>
            <li><a href="#" class="nav-link active">Vermiten</a></li>
            <li><a href="#" class="nav-link active">Standorte</a></li>
            <li><a href="#" class="nav-link active">Ratgeber</a></li>
            <li><a href="#" class="nav-link active">Mehr</a></li>
            <li><a href="#" class="nav-link active ml-lg-5">Unsere Immobilien</a></li>
        </ul>
        
    </div> <!--navbar-nav -->
        
    <form class="form-inline">
      <a href="#" class="btn btn-outline-success btn-sm mr-3">Log in</a>
      <a href="#" class="btn btn-outline-danger btn-sm">Sign Up</a>
    </form> <!--form end -->
        
  </div>  <!--collapse -->
</nav>  <!--nav tag end -->

<div>
  <h1>
    <app-home></app-home> <!--the tag that do rendering to the app -->
  </h1>
</div>


